<div class="container m-5 flex">
  <div class="card mx-10" style="width: 18rem" routerLink="./addGames">
    <img
      src="https://c4.wallpaperflare.com/wallpaper/96/92/869/game-games-2014-best-wallpaper-preview.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Add Games</p>
    </div>
  </div>

  <!-- Games list update delete  -->
  <div class="card" style="width: 18rem" routerLink="./gamesCrudMain">
    <img
      src="https://c4.wallpaperflare.com/wallpaper/96/92/869/game-games-2014-best-wallpaper-preview.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Games Details</p>
    </div>
  </div>
</div>
