<div id="card-area">
  <div class="wrapper">
    <div class="box-area">
      <div class="box">
        <img
          alt=""
          src="https://www.cbc.ca/kids/images/shootthecannon_thumbnail.jpg"
        />
        <div class="overlay">
          <h3>Mountaineering</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi
            explicabo libero ea nam. Quod.
          </p>
        </div>
      </div>
      <div class="box">
        <img
          alt=""
          src="https://www.cbc.ca/kids/images/shootthecannon_thumbnail.jpg"
        />
        <div class="overlay">
          <h3>Scuba Diving</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi
            explicabo libero ea nam. Quod.
          </p>
        </div>
      </div>
      <div class="box">
        <img
          alt=""
          src="https://www.cbc.ca/kids/images/shootthecannon_thumbnail.jpg"
        />
        <div class="overlay">
          <h3>Travel World</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi
            explicabo libero ea nam. Quod.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
