@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* align-content: flex-start; */
    /* background-color: black; */
}
.login {
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    /* min-width: 636px;
    max-width: 636px; */
    width:55%;
    padding: 30px;
    
}
/* .input-field {
    margin: 10px;
    
} */

.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 24;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      margin: 5px;
    color: white;
    font-size: xx-large;
    
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    
  }
  .input-field {
    background-color: #32353c;
    border-color: #32353c;
    border-radius: 2px;
    color: white;
  }
  .signin-label {
    color: #1999ff;
    font-weight: 500;
  }
  .password-label {
    color: #afafaf;
    font-size: 12px;
  }
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-style {
    width: 40%;
    height: 50px;
    border-color: none;
    border: none;
    background-image: linear-gradient(to left, rgb(35, 122, 252), rgb(15, 214, 198));
    color: white;
    font-weight: 500;
    font-size: 20px;
} 
.signup-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-heading {
    text-align: left;
    margin:20px;
    justify-content: start;
    align-items: start;
    width:55%;
}
.inputError {
  color: red;
  font-size: small;
  height: 7px;
}